/* components/SmallCalendar.css */
.react-calendar__tile {
  position: relative;
}

.eventIndicator {
  background-color: #1565c0; /* Yellow indicator */
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 auto;
}

.react_calendar {
  background-color: transparent !important; /* Dark background */
  color: #cfe2fa; /*  text color */
  border-color: #ffffff34 !important;
  border-width: 2px !important;
  /* height: 350px; */
  width: 600px;
}

/* Change Saturday and Sunday text color */
.react-calendar__month-view__days__day--weekend abbr {
  color: #5e1764 !important; /* Ensure high specificity */
}

.react-calendar__tile--now {
  background: red;
}

.react-calendar__tile--now abbr {
  color: #7c1717 !important; /* White text */
}

/* Primary color */
.react-calendar__tile--now {
  background-color: #1565c0 !important; /* Blue background */
  color: #1565c0 !important; /* White text */
}

.react-calendar__tile:hover {
  background-color: #1565c0 !important;
  color: #000000;
  cursor: pointer;
}

/* Secondary color */
.react-calendar__tile--active {
  background-color: #ffb74d !important; /* Orange background */
  color: #000 !important; /* Black text */
}

.react_calendar .content {
  font-size: 20px;
  color: blue;
}
