@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: linear-gradient(
      243.52deg,
      #021457,
      #19112f 31.84%,
      #251431 51.79%,
      #301941 64.24%,
      #6e3050
    ),
    #0f1212;
}

.background {
  background: linear-gradient(
      243.52deg,
      #021457,
      #19112f 31.84%,
      #251431 51.79%,
      #301941 64.24%,
      #6e3050
    ),
    #0f1212;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.dialog-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(20, 20, 20, 0.1);
  backdrop-filter: blur(8px);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animation {
  @apply transition duration-500 ease-in-out
}

.rotate-asc {
  animation: rotateUp 0.2s ease-in-out forwards; /* Adjust duration and easing */
}

.rotate-desc {
  animation: rotateDown 0.2s ease-in-out forwards;
}

@keyframes rotateUp {
  from { transform: rotate(0); }
  to { transform: rotate(180deg); }
}

@keyframes rotateDown {
  from { transform: rotate(180deg); }
  to { transform: rotate(0); }
}


.react-calendar__tile--now {
  @apply bg-primary rounded-md !important;
}
.react-calendar__tile:hover {
  @apply bg-primary/10 rounded-md !important;
  @apply !transition !duration-500 !ease-in-out !rounded-b-md
}

.react-calendar__tile--active {
  @apply flex-none rounded-md;
}

.react-calendar__navigation button:hover {
  background-color: rgba(255, 255, 255, 0.302) !important;
  background-color: rgba(255, 255, 255, 0.302) !important;
  @apply !transition !duration-500 !ease-in-out !rounded-b-md
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  background-color: #ffffff13 !important;
  border-radius: 8px !important;
}
